@charset "UTF-8";
// 変数
@use 'variable/a5-tate-no-bleed';
// フォント関連
@use 'tate/fonts';
// ページのスタイル定義
@use 'tate/format';
// タイポグラフィのスタイル定義
@use 'tate/typography';
// コンテンツのスタイル定義
@use 'tate/contents';
// シンタックスハイライト
@use 'common/rouge';