@use "../variable/a5-tate-no-bleed";

@charset "UTF-8";

html {
  /* 組み方向 */
  -webkit-writing-mode: a5-tate-no-bleed.$writing-mode;
  -epub-writing-mode: a5-tate-no-bleed.$writing-mode;
  writing-mode: a5-tate-no-bleed.$writing-mode;

  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}